{% extends "portfolio/layout.html" %}

{% block body %}
<div class="body-title">
  <div class="Page-title">
    <p>Contact</p>
  </div>
  <div class="nav-bar">
      <ul>
        <div class="navbar-item">
          <li><a href="{% url 'home' %}">About</a></li>
        </div>
        <div class="navbar-item">
          <li><a href="{% url 'resume' %}">Resume</a></li>
        </div>
        <div class="navbar-item">
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        </div>
        <div class="navbar-item">
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </div>  
    </ul>
  </div>
</div>

<div class="contact" data-page="contact">
    <section class="mapbox" data-mapbox>
      <figure>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7002.278104809419!2d75.53127481648767!3d31.396077676264895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a51d30c180edf%3A0x5b7633718d17ef33!2sDr%20B%20R%20Ambedkar%20National%20Institute%20of%20Technology%20Jalandhar!5e0!3m2!1sen!2sin!4v1719735183450!5m2!1sen!2sin" 
          width="400" height="300" loading="lazy"></iframe>
      </figure>
    </section>

    <div class="contact-form">
      <h2>Contact Form</h2>
      <hr>
      <form method="post">
        {% csrf_token %}
        <div class="form-field">
          {{ form.name }}
        </div>
        <div class="form-field">
          {{ form.email }}
        </div>
        <div class="form-field">
          {{ form.message }}
        </div>
        <button type="submit">Send Message</button>
      </form>

      <!-- Notification placeholder -->
      {% if message %}
      <div id="notification" class="notification">
        {{ message }}
      </div>
      {% endif %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var notification = document.getElementById('notification');
  if (notification) {
    setTimeout(function() {
      notification.style.display = 'none';
    }, 5000); // 5000 milliseconds = 5 seconds
  }
});
</script>


{% endblock %}
