{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jagnoor Singh Marok</title>
    <link rel="icon" type="image/x-icon" href="{% static 'portfolio/my-avatar.png' %}">
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c4ec4bb7b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <div class="sidebar">
            <div class="image-container">
                <img src="{% static 'portfolio/my-avatar.png' %}" height="240px">
            </div>
            <div class="name-container">
                <h2>Jagnoor Singh Marok</h2>
                <a href="https://departments.nitj.ac.in/dept/cse/Home">Student@NITJ</a>
                <hr>
            </div>
            <div class="contact-list">
                <ul>
                    <li class="contact-item">
                        <div class="icon-box">
                            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info">
                            <p class="contact-title">
                                <a href="mailto:jagnoormarok@gmail.com" class="contact-link">jagnoormarok@gmail.com</a>
                            </p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <div class="icon-box">
                            <i class="fa fa-volume-control-phone fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info">
                            <p class="contact-title">
                                <a href="tel:+919814078213" class="contact-link">+91 98140-78213</a>
                            </p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <div class="icon-box">
                            <i class="fas fa-calendar fa-2x"></i>
                        </div>
                        <div class="contact-info">
                            <p class="contact-title">DOB: October 22, 2004</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <div class="icon-box">
                            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info">
                            <p>Jalandhar, Punjab, India</p>
                        </div>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="main-body">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
